# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Capacitor
ios/App/Pods
ios/App/Podfile.lock
ios/App/public
ios/App/build
android/.gradle
android/app/build
android/build
android/app/src/main/assets/public
android/*